.banner {
  background-image: url(../../images/bbbb.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
}

.banner-container {
  max-width: 800px;
  margin: 0 auto;
}

.banner-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color:black;
}

.banner-container p {
  font-size: 20px;
  margin-bottom: 30px;
}

.banner-buttons {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

.btn-secondary {
  background-color: #6c757d;
}
